:root {
  --primary: #fff;
  --secondary: #242424;
  --blue: #60b0d8;
}

.holidays__page {
  background-color: rgba(96, 176, 216, 0.5);
  padding-top: 2rem;
}

.intro {
  font-size: 1.3rem;
  color: var(--secondary);
}

.holidays__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holiday__label {
  color: var(--blue);
}
